#app{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:#696969;
  height: 300px;
}
.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  margin-top: 70px;
  font-size: 3.5rem;
  font-weight: 700;
  color:#F8F8FF;
  margin-bottom: 80px;
}
.form input{
  padding: 10px;
  font-size: 20px;
  border: solid 1px white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.form button{
  padding: 10px;
  font-size: 20px;
  border: solid 1px white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}